*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    height: 8vh;
    width: 100%;
    background-color: rgb(10, 168, 188);
}
#nav{
    text-align: center;
    align-items: center;
    padding-top: 0.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.timer{
    background-color: rgb(10, 168, 188);
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 15vh;
    width: 50vw;
    margin: 3vh;
    margin-top: 5vh;
    font-size: 1.2rem;
}
.con{
    border: solid 2px black;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    height: 7vh;
    width: 7vw;
    align-content: center;
    display: flex;
    justify-content: center;
}
.container{
    background-color: rgb(10, 168, 188);
    border: solid 2px black;
    padding: 2rem;
    width: 50vw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.content{
    background-color: white;
    position: relative;
    border: solid 2px black;
    padding: 1rem;
}
.btn{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    background-color: rgb(10, 168, 188);
}
.tn{
    margin: auto;
    margin-right: 2vw;
    height: 7vh;
    width: 7vw;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}
.input-field{
    position: absolute;
    height: 100%;
    width: calc(100% - 2rem); 
    font-size: 1.2rem;
    border: none;
    font-family: serif;
    background-color: transparent;
    resize: none;
}

.input-field:focus{
    outline: none;
}
.typing-text{
    width:100%;
    position: relative;
    font-size: 1.2rem;
}
.incorrect{
    color: red;
}
.correct{
    color: green;
}
@media screen and (max-width: 1500px){
    .timer{
        font-size:1rem;
    }
}
@media screen and (max-width: 1200px){
    .timer{
        font-size:0.8em;
    }
}
@media screen and (max-width: 1000px){
    .timer{
        font-size:0.6rem;
    }
}
@media screen and (max-width: 800px){
    .timer{
        font-size:0.5rem;
    }
}
@media screen and (max-width: 600px){
    .timer{
        font-size:0.4rem;
    }
}